

.hero-title {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 86px;
	margin-top: -12px;
	min-height: 240px;
	padding: 65px 15px 40px;
	@media screen and (max-width: 1199px) {
        margin-top: -25px;
    }
    @media screen and (max-width: 1073px) {
        margin-top: -38px;
	}
	@media screen and (max-width: 991px) {
		margin-top:-58px;

	}
	h1 {
		color: #fff;
		font-size: 4.5rem;
		font-weight: 300;
		line-height: 1.2em;
		text-align: center;
	}
	
}

.hero-privacy {
	background-image: url(../images/privacy-policy-hero.jpg);
}

.big-heading {

	h2 {
		text-align: center;
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 1.2em;
		margin-bottom: 60px;
		margin-top: 64px;
	}
}

ul.bullet-orange-list {
	list-style: none;
	margin-bottom: 32px;
	padding: 8px 0 0;

	li {
		margin-bottom: 15px;
		padding-left: 28px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			background-color: $color-site;
			border-radius: 50%;
			left: 0; top: 13px;
			position: absolute;
			width: 8px;  height: 8px;
		}

		p {
			margin-bottom: 0;
		}
	}
}
