$font-family: 'Open Sans',
sans-serif;
$color-site: #ff6700;
// breakpoints
$S: 480px;
$M: 768px;
$L: 1170px;

$post-job-dark: #00bbb9;

$employer-dark: #00bbb9;
$employer-light: lighten(#00bbb9, 3%);

$job-seeker-dark: #83bf23;
$job-seeker-light: #92cf5c;
